name: cpplint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install cpplint
      run: pip install cpplint
    - name: Run cpplint
      run: cpplint --filter=-build/include_subdir,-legal/copyright --recursive .
